<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/index.html}"
>
<head>
    <title>Board Register</title>
    <style>
        .errorMsg {
            color: red;
            font-size: 12px;
        }
    </style>
</head>
<div layout:fragment="content">
    <div class="my-3 mx-3">
        <div class="mb-3" th:with="link = ${pageRequestDTO.getLink()}">
            <a th:href="|@{/board/list}?${link}|" class="text-decoration-none">
                <button type="button" class="btn btn-outline-success">목록</button>
            </a>
        </div>
        <h2>게시글 작성</h2>
        <form action="/board/modify" method="post">
            <input type="hidden" id="bno" name="bno" th:value="${dto.bno}">
            <input type="hidden" id="boardType" name="boartType" th:value="${dto.boardType}">
            <div class="mb-3">
                <label for="title" class="form-label">제목</label>
                <input type="text" class="form-control" id="title" name="title" th:value="${dto.title}" placeholder="게시글 제목">
                <div id="titleErrorMsg" class="errorMsg"></div>
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <textarea class="form-control" id="content" name="content" rows="10" placeholder="게시글 내용">[[${dto.content}]]</textarea>
                <div id="contentErrorMsg" class="errorMsg"></div>
            </div>
            <div class="mb-3">
                <label for="writer" class="form-label">작성자</label>
                <input type="text" class="form-control" id="writer" name="writer" th:value="${dto.writer}" placeholder="작성자" readonly>
            </div>
            <div class="mb-3">
                <label for="regDate" class="form-label">작성일</label>
                <input type="text" class="form-control" id="regDate" th:value="${#temporals.format(dto.regDate, 'yyyy-MM-dd')}" readonly>
            </div>

            <div class="my-4">
                <div class="float-end">
                    <button type="submit" class="btn btn-primary">완료</button>
                    <button type="reset" class="btn btn-secondary">취소</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script layout:fragment="script" th:inline="javascript">
    const errors = [[${errors}]];

    if(errors) {
        for(let error of errors) {
            console.log(error);
            let errorDiv = document.getElementById(`${error.field}ErrorMsg`);
            errorDiv.innerText += error.defaultMessage + "\n";
        }
    }
</script>